Django==4.2.18
djangorestframework==3.15.2
psycopg2-binary==2.9.10
django-environ==0.11.2
django-tailwind==3.8.0
Pillow==10.4.0
whitenoise==6.7.0
gunicorn==22.0.0
dj-database-url==2.3.0
pytest-cov==5.0.0
factory-boy==3.3.1
django-lucide>=1.2.0
cloudinary>=1.41.0
django-cloudinary-storage>=0.3.0
beautifulsoup4>=4.12.0
openpyxl>=3.1.5
channels>=4.0.0
channels-redis>=4.0.0
django-ratelimit>=4.0.0
daphne>=4.0.0
django-redis>=5.0.0
django-webpush>=0.3.0
cryptography>=43.0.0
pywebpush>=2.0.0
django-tinymce==4.1.0
schedule==1.2.0